body {
  background-color: plum;
}

#small,
#medium,
#large {
  float: left;
  width: 33%;
}

@media (max-width: 1024px) {
  body {
    background-color: cornflowerblue;
  }

  #small {
    float: left;
    margin: 0 3% 1.5em 0; /* 21px / 633px /
    width: 60%;             / 197px / 633px /
    display: block;
}
#medium {
    float: right;
    margin: 0 3% 1.5em 0;   / 21px / 633px */
    width: 33%;
  }
  #large {
    float: left;
    width: auto;
  }
}

@media (max-width: 480px) {
  body {
    background-color: red;
  }

  #medium,
  #small,
  #large {
    float: none;
    width: auto;
  }
}
